.action-group {
  white-space: nowrap;
}

.action-group > button {
  margin-right: 8px;
}

.table {
  margin-bottom: 2rem;
}

.paper-card {
  padding: 0.75rem 1.25rem;
}

.paper-card > button {
  margin-bottom: 16px;
}
