<div>
  <form class="paper-card paper-form">
    <div class="paper-card-title">
      <button (click)="onBack()" class="btn btn-default">
        <fa name="arrow-left"></fa>
      </button>
      <h2>{{title}}</h2>
    </div>

    <div class="form-group">
      <label for="customerID">Customer ID</label>
      <input class="form-control" [(ngModel)]="customer.customerID" type="number" name="customerID" readonly/>
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input class="form-control" [(ngModel)]="customer.name.first" type="text" name="firstName" />
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input class="form-control" [(ngModel)]="customer.name.last" type="text" name="lastName" />
    </div>

    <div class="form-group">
      <label for="birthday">Birthday</label>
      <div class="input-group">
        <input class="form-control" #birthdayDatepicker="bsDatepicker" [(ngModel)]="customer.birthday" type="text" name="birthday"
          bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue'}" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="birthdayDatepicker.toggle()">
            <fa name="calendar"></fa>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div>
        <label>Gender</label>
      </div>
      <div class="btn-group" role="group" arial-label="Gender group">
        <button type="button" (click)="onSelectGender('m')" [ngClass]="isGenderSelected('m') ? 'btn-primary' : 'btn-outline-secondary'"
          class="btn">Man</button>
        <button type="button" (click)="onSelectGender('w')" [ngClass]="isGenderSelected('w') ? 'btn-primary' : 'btn-outline-secondary'"
          class="btn">Woman</button>
        <button type="button" (click)="onSelectGender('o')" [ngClass]="isGenderSelected('o') ? 'btn-primary' : 'btn-outline-secondary'"
          class="btn">Other</button>
      </div>
    </div>

    <div class="form-group">
      <label for="lastContact">Last Contact</label>
      <div class="input-group">
        <input class="form-control" #lastContactDatepicker="bsDatepicker" [(ngModel)]="customer.lastContact" type="text" name="lastContact"
          bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue'}" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="lastContactDatepicker.toggle()">
            <fa name="calendar"></fa>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="customerLifetimeValue">Customer Lifetime Value</label>
      <input class="form-control" [(ngModel)]="customer.customerLifetimeValue" type="number" name="customerLifetimeValue" />
    </div>

    <div class="action-group d-flex flex-row justify-content-between">
      <button class="btn btn-outline-danger" *ngIf="isEditMode" (click)="onDelete()">Delete</button>
      <button class="btn btn-outline-secondary ml-auto" (click)="onReset()">Reset</button>
      <button class="btn btn-outline-primary" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>