<div>
  <form class="paper-card">
    <div class="paper-card-title">
      <button (click)="onBack()" class="btn btn-default">
        <fa name="arrow-left"></fa>
      </button>
      <h2>{{title}}</h2>
    </div>

    <div class="form-group">
      <label for="customerID">Customer ID</label>
      <input class="form-control" [(ngModel)]="customer.customerID" type="number" name="customerID" readonly/>
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input class="form-control" [(ngModel)]="customer.name.first" type="text" name="firstName" />
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input class="form-control" [(ngModel)]="customer.name.last" type="text" name="lastName" />
    </div>

    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input class="form-control" [(ngModel)]="customer.birthday" type="date" name="birthday" />
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <input class="form-control" [(ngModel)]="customer.gender" type="text" name="gender" />
    </div>

    <div class="form-group">
      <label for="lastContact">Last Contact</label>
      <input class="form-control" [(ngModel)]="customer.lastContact" type="date" name="lastContact" />
    </div>

    <div class="form-group">
      <label for="customerLifetimeValue">Customer Lifetime Value</label>
      <input class="form-control" [(ngModel)]="customer.customerLifetimeValue" type="number" name="customerLifetimeValue" />
    </div>

    <div>
      <button (click)="onDelete()">Delete</button>
      <button (click)="onReset()">Reset</button>
      <button (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>