.paper-form {
  max-width: 640px;
}

.paper-card-title > button,
h2 {
  display: inline-block;
}

.paper-card-title > button {
  vertical-align: top;
  margin-right: 8px;
}

.action-group > button {
  margin-right: 8px;
}

.action-group > button:last-child {
  margin-right: 0;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}
